body{
    background-color:#f76003;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    background-image: url(imgs/wp5901457.webp);
    background-size: cover;
    height: 500px;
    
}

header img{
    height: 50px;

}

.nav{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    
}

.nav a{
    text-decoration: none;
    color: white;

}

.nav a:hover{
    color: #f76003;
    transition-duration: 0.4s;
}

#hname{
    color: #f76003;
    position: absolute;
    left: 100px;
    top: 120px;
    font-size: 50px;
    font-weight: bolder;
}

#hslogan{
    color: white;
    position: absolute;
    left:100px;
    top: 220px;
}

#card_container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    border-style: solid;
    border: black;
    width: 1000px;
    height: 50px;
}  